.class-cat {
    float:left;
    width: 20%;
    display: inline-block;
    height: 700px;
    background: blanchedalmond;
    margin: 0 1% 1% 0;
}
.class-prod {
    float:left;
    width: 75%;
    display: inline-block;
    height: 700px;
    background: blanchedalmond;
    margin: 0 1% 1% 0;
}