.divclass{
    display: inline-block;
    width: 30%;
    height: 200px;
    border: solid 1px;

}
.divcont1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.divcont1 input{
    padding-left: 20px;
    margin-left: 20px;
    padding-right: 20px;
}
