#root{
    max-width: 1200px;
    margin: 0 auto;
}

.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card{
    border: 1px solid gray;
    margin: 2px;
    width: 20%;
    padding: 10px;
}
img{
    width: 150px;

}