.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
} 

@media screen and (max-width:800px) {
    .navbar li {
        float:none;
        display: block;
        width: 100%;
        
    }
    .navbar li a {
        text-align: left;
    }
}

@media screen and (max-width:400px) {
    .navbar li {
        float:none;
        display: block;
        width: 100%;
        
    }
    .navbar li a {
        text-align: left;
    }
}

.active {
    background-color: gold;
}