body, html{
    font-size: 18px;
    font-family: Arial, helvetica, sans-serif;
    margin: 0;
}

.header-top{
    background-color: #333;
    white-space: nowrap;
    color:white;
    padding: 25px;
  }

.header-class {
    padding: 25px;
    background-color: #333;
    color: white;
    white-space: nowrap;
  }
  
.ban-class {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/photographer.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
.ban-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.ban-text button{
      border:none;
      color:black;
      background-color: #ddd;
      text-align:center;
      cursor:pointer;
      padding:10px 25px;
      outline: 0;
  }

.ban-text button:hover{
      color:darkgreen;
      background-color: darkred;
  }

.navbar li{
      float:left;
      padding:8px;
      background-color: #dddddd;
      
  }
.navbar li a{

      display: block;
      padding: 8 px;
      background-color: darkred;
  }  

.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        top: 0;
        background-color:rebeccapurple;
        position: -sticky;
        overflow: hidden;

  }
    
.corps{
        padding: 25px;
  }

.navbar li a:hover{
        background-color: #111;
  }

.active{
        background-color: mediumpurple;
  }

.navbar {

      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  
  }
  
.navbar li {
  
      float: left;
  
  }

.menu li :last-child{
    float: right ;
    padding-right: 10px;
  }

.navbar li a {
  
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  
  }
  
.navbar li a:hover {
  
      background-color: #111;
      
  }
  
@media screen and (max-width:600px) {
.navbar li {
         float:none;
         display: block;
         width:100%;
  }
  
.navbar li a {
             text-align: left;
      
      }       
        
  } 
.active {
      background-color: gold;
  
  }
  @media screen and (max-width:400px) {
.navbar li {
         float:none;
         display: block;
         width:100%;
  }   
  
.navbar li a {
         text-align: left;
          
  }
  @media screen and (max-width:700px){
.ban-class {
       height:60%;
      
}
  }

    
